version: "3.9"

services:
  lkas_app:
    build: .
    container_name: lkas_ros_container

    network_mode: host
    privileged: true

    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ~/monkey_ws:/workspace/monkey_ws:rw

    working_dir: /workspace/monkey_ws

    command: ["bash", "-c", "sleep infinity"]

